<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Условия Пользовательского Соглашения</title>
</head>
<body>
<div style="width: 500px;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ratione soluta ipsa velit illo, sequi
    eos nemo quaerat id accusantium repellat recusandae quod nulla in ab optio aspernatur voluptate totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error veritatis soluta voluptatum. Tempore et reiciendis amet beatae? Fuga quos architecto commodi aperiam expedita odio voluptates repellendus ipsa? Dignissimos, possimus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perspiciatis nulla. Est reprehenderit delectus quaerat dolorum eius,
    expedita impedit ducimus. Beatae nihil praesentium ipsam deserunt quos libero voluptatibus recusandae quisquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non quas, doloremque soluta mollitia aspernatur iusto quae autem facilis itaque expedita totam pariatur veritatis repellendus, debitis eius numquam aliquam reprehenderit rerum!Loremlor
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, quisquam dicta ipsam iste pariatur recusandae, doloremque rerum perferendis ea quia harum repellat natus quo cumque, impedit facere possimus soluta ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cumque voluptatum corrupti natus facere quisquam nobis possimus perspiciatis labore minus, explicabo quis repellat consequuntur aspernatur numquam qui magnam cum dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia deleniti consequuntur reprehenderit hic error magni suscipit esse quam
    ea nihil, ut a natus in recusandae maxime accusantium dolorum nemo inventore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores itaque rerum, sunt porro perspiciatis maiores fugiat? Esse ea perspiciatis quia quam voluptates optio enim, in quisquam cupiditate delectus. Soluta.
    <form action="{% url 'shop:main' %}">
        <button class="add" type="submit">Принимаю</button>
    </form>
</div>
</body>
</html>