<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Edit_good</title>
</head>
<body class="body1">
    <div class="container5">
        <div class="container__block">
            <div class="container_info">
                <h2 class="container_name">ПокупайТочкаKZ</h2>
                <div class="container_link">Лучшие товары на свете!</div>
            </div>
        </div>
            <form action="{% url 'shop:main' %}">
                <button type="submit" class="btn btn-primary" >Назад</button>
            </form>
        {% if perms.user.can_see_link %}
            <form action="{% url 'shop:add_goods' %}">
                <button class="add_goods_button" type="submit">Добавление товара</button>
            </form>
        {% endif %}

        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            Дополнительно
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'user:profile' %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти из аккаунта</a></li>
          </ul>
        </div>
    </div>
<div class="reg">
    <div class="reg_wrapper">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="add" id="update_g" type="submit">Обновить товар</button>
            </form>
    </div>
</div>


<script>
    const select = document.getElementById('update_g');
    let optionalAlert = function(event) {
        document.title = "Сообщение с нашего сайта";
        alert('Товар успешно обновлен!');
    }

    select.addEventListener('click', optionalAlert);
</script>
</body>
</html>